.container_cep {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.subcontainer {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  margin-right: 45px;
}

.subcontainer_cep h1 {
  display: flex;
  justify-content: center;
  color: #000000;
  background-color: #f2f2f2;
  border-radius: 8px;
  width: 350px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.search_cep {
}

.cep {
  color: #f2f2f2;
}
